<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Select Scenario</title>
</head>
<body>

	<h1>Select Scenario</h1>

	{% if error %}
		<p style="color:red">{{ error }}</p>
	{% endif %}

	<form method="post">
		<label for="number">Scenario</label><br>
		<select name="number" id="number">
			<option value="">-- choose --</option>
			{% for s in scenarios %}
				<option value="{{ s.number }}">{{ s.display }}</option>
			{% endfor %}
		</select>

		<br><br>
		<button type="submit">Open</button>
	</form>

    <label for="number">Section</label><br>
    <select id="number" onchange="if (this.value) window.location.href = '/section/' + this.value;">
        <option value="">-- choose --</option>
        {% for p in sections %}
            <option value="{{ p.number }}">{{ p.display }}</option>
        {% endfor %}
    </select>

</body>
</html>